/* HEADER ======================== */
.pbj-header {
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 3;
  height: $headerHeight;
  display: flex;
  align-items: center;
  background-color: $bodyBGColor;

  .header-title {
    // color: #BC6FF1;
    color: #C7AA74;
    font-weight: 700;
    text-decoration: none;
    font-size: 22px;
    margin: 20px;

    i { margin: 0 30px 0 10px; }
  }
}