/* SIGNUP PAGE ==================== */
.huh {
  padding: 10px 0;
  
  .sb-doncha {
    width: 60px;
    height: 40px;
    object-fit: cover;
    border-radius: 3px;
    display: inline-block;
  }
  
  .huh__text {
    display: inline;
    padding: 0 15px;
  }
}