// Variables ------------------------------
$headerHeight: 70px;
$headerBG: #353535;
$postLeftWidth: 85px;
$bodyBGColor: #121212;
$navHeightMobile: 70px;
$borderColor: #353535;
$purple: #BC6FF1;
$purpleHover: #9659be;
$gold: #C7AA74;
$goldHover: #a0885d;

.pbj-btn {
  font-size: 18px;
  color: white;
  margin: 10px 0;
  padding: 5px 15px;
  border-radius: 50px;
  background-color: $purple;
  border-color: $purple;
  &:hover, &:active {
    color: rgba(255, 255, 255, 0.75);
    background-color: $purpleHover;
    border-color: $purple;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(189, 111, 241, 0.5) !important;
  }
}

.pbj-btn-gold {
  font-size: 18px;
  color: white;
  margin: 10px 0;
  padding: 5px 15px;
  border-radius: 50px;
  background-color: $gold;
  border-color: $gold;
  &:hover, &:active {
    color: rgba(255, 255, 255, 0.75);
    background-color: $goldHover;
    border-color: $gold;
  }
  &:focus { box-shadow: 0 0 0 0.2rem rgba(199, 170, 116, 0.5) !important; }
}
// IMPORTS ================================
// Components -----------------------------
@import './components/header.scss';
@import './components/footer.scss';
// Pages ----------------------------------
@import "./pages/_signup.scss";
@import "./pages/login.scss";
@import "./pages/profile.scss";
// Mixins ---------------------------------
@mixin center { margin: 0 auto; }
@mixin nomargin { margin: 0; }
@mixin nopadding { padding: 0; }
@mixin nomarginnopadding {
  @include nomargin; @include nopadding;
}
// ========================================
// FUUUUUUUUUUUCK
/* GLOBALS ======================= */
body {
  font-family: "Poppins", sans-serif;
  background-color: $bodyBGColor;
  color: white;
  
  ::-webkit-scrollbar { width: 8px; }
  ::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 50px;
  }

  // Make root center everything horizontally.
  #root {
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Main panel starts as a reverse column so nav is at bottom on mobile.
    .main-panel {
      display: flex;
      flex-direction: column-reverse;
      overflow-y: hidden;
      width: 100%;
      max-width: 600px; // nav + panel width
      // height: 100vh;  // fallback

      .page {
        width: 100%;
        max-width: 600px;
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
        // height: calc(100% - 70px);   // feed-panel need to save space for nav
      }
    }
  }
}
/* SIDEBAR (MOBILE) ============== */
.nav {
  width: 100%;
  height: $navHeightMobile;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $bodyBGColor;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 2;
  
  ul {
    width: 100%;
    height: 100%;
    @include nomarginnopadding;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;

    li {
      height: 70px;
      width: 70px;
      display: flex;
      align-items: center;
      justify-content: center;

      .sidebar__icon {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        transition: all ease .2s;
        cursor: pointer;  // a's without href don't use pointer on hover?
        &:hover { background-color: rgba(30, 143, 255, 0.25); }

        img { width: 40px; height: 40px; }
      }

      .nav-header { display: none; }
    }
  }
}
/* FEED ========================== */
.feed-view {
  max-width: 700px;

  .feed {
    padding: 15px;
    display: flex;
    flex-direction: column-reverse;
  
    .post {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin: 0 auto 10px;
      padding: 20px 0 0;
      // border-bottom: 1px solid #eee;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      transition: background-color ease .3s;
      &:hover { background-color: rgba(255, 255, 255, 0.13); }

      .post__left {
        width: $postLeftWidth;
        display: flex;
        flex-direction: column;
        align-items: center;

        .uploader-image {
          margin-bottom: 10px;
    
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            font-size: 10px;
            object-fit: cover;
          }
        }

        .interactions {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          position: relative;
          margin: 0 0 20px;
          cursor: pointer;
          
          .reaction-picker {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 5px;
            border-radius: 50px;
            background-color: transparent;
            transition: all ease .3s;
            &:hover {
              background-color: rgba(30, 144, 255, 0.2);
              >.octicon { fill: rgb(30, 144, 255); }
            }
            
            .reactions {
              background-color: $bodyBGColor;
              border-radius: 50px;
              width: 0;
              height: 40px;
              opacity: 0;
              visibility: hidden;
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              position: absolute;
              z-index: 1;
              top: -5px;
              left: 50px;
              overflow: hidden;
              transition: all ease .3s;
    
              div {
                display: flex;
                padding: 8px;
                border-radius: 50px;
                transition: all ease .2s;
              
                &:hover {
                  &:nth-child(1) {
                    background-color: rgba(255, 0, 0, 0.2);
                    svg { fill: red; }
                  }
                  &:nth-child(2) {
                    background-color: rgba(255, 68, 0, 0.2);
                    svg { fill: orangered; }
                  }
                  &:nth-child(3) {
                    background-color: rgba(255, 166, 0, 0.2);
                    svg { fill: orange; }
                  }
                  &:nth-child(4) {
                    background-color: rgba(255, 217, 0, 0.2);
                    svg { fill: rgb(255, 187, 0); }
                  }
                  &:nth-child(5) {
                    background-color: rgba(82, 209, 78, 0.2);
                    svg { fill: rgb(82, 209, 78); }
                  }
                  &:nth-child(6) {
                    background-color: rgba(27, 179, 199, 0.2);
                    svg { fill: rgb(27, 179, 199); }
                  }
                  &:nth-child(7) {
                    background-color: rgba(30, 144, 255, 0.2);
                    svg { fill: rgb(30, 144, 255); }
                  }
                }
              }
    
              &.active {
                width: 250px;
                opacity: 1;
                visibility: visible;
              }
            }
          }

          .reply-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5px;
            height: 30px;
            width: 30px;
            border-radius: 50px;

            &:hover {
              background-color: rgba(30, 144, 255, 0.2);
              svg { fill: rgb(30, 144, 255); }
            }
            
            svg { position: relative; top: -1px; }
          }
        }
      }

      .post__right {
        width: calc(100% - #{$postLeftWidth});
        padding: 0 20px 0 0;

        .uploader-info {
          width: 100%;
  
          .uploader-name-date {
            font-weight: bold;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.75);
            margin: 0;
      
            .timestamp {
              font-weight: 100;
              color: rgb(126, 126, 126);
            }
          }
  
          .replying__container {
            .replying-to {
              font-size: 12px;
              background-color: rgba(106, 185, 231, 0.2);
              padding: 2px 5px;
              width: fit-content;
              border-radius: 3px;
              margin: 5px 0;
              display: flex;
              flex-direction: row;
              align-items: center;
    
              svg {
                margin: 0 5px 0 0;
              }
            }
          }
      
          hr { margin: 5px 0; }
    
          .post-text {
            font-size: 16px;
            margin: 5px 0;
            padding: 0 2px;
            white-space: pre-wrap;

            &.green { color: rgb(152, 236, 96); }
          }
    
          .post-image {
            width: 100%;
            height: 250px;
            // border: 1px solid rgb(26, 26, 26);
            border-radius: 10px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
          }

          .post-reactions {
            display: flex;
            max-width: 100%;
            margin: 10px 0;
            flex-wrap: wrap;

            .reaction {
              border-radius: 50px;
              background-color: rgba(0, 0, 0, 0.2);
              position: relative;
              display: flex;
              flex-direction: row;
              align-items: center;
              margin: 0 10px 10px 0;
              padding: 4px 10px;
              transition: all ease 50ms;
              cursor: pointer;
              &:hover { background-color: rgba(0, 0, 0, 0.4); }
              &:active { transform: scale(0.9); }

              svg { min-width: 16px; }
            }

            .reaction-count {
              font-size: 14px;
              margin: 0;
              padding: 0 5px 0 10px;
              -webkit-user-select: none;
              -moz-user-select: none;
            }
          }
        }
      }
    }
  }  
}
.replies {
  padding: 5px 10px;
  max-height: 500px;
  overflow-y: scroll;
  
  .reply {
    padding: 10px;
    background-color: rgba(238, 238, 238, 0.1);
    border-radius: 5px;
    margin-bottom: 10px;

    h3 {
      font-size: 14px;
      word-break: break-word;
    }
  }
}
/* HOME ========================== */
.home__body {
  background-color: #e9ecef;
  padding: 30px 0 10px;
  
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .display-5 {
      display: inline-block;
      margin: 0 30px;
      line-height: 60px;
      color: rgb(42, 42, 42);
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);

      // See FONTS/Animated Text for 'burning' text rules.
    }
    
    p {
      margin: 10px 0;
      color: #1d1d1d;
      font-size: 14px;
      cursor: pointer;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 
      transition: 0.4s all ease;
  
      &:hover { color: #5a5a5a; }
    }
  }
  
  .img-home {
    margin: 10px;
    width: 65vw;
    max-height: 50vh;
    object-fit: cover;
    border-radius: 7px;
    box-shadow: 0px 0px 10px -5px rgb(0, 0, 0);
  }

  .bottom {
    padding: 15px 0;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0 20px;

      .btn {
        width: 45%;
        max-width: 300px;
        padding: 6px 20px;
        margin: 0 10px;
      }
      
      .btn-login {
        background-color: rgb(213, 219, 221);
        border: 1px solid #bbb;
      }
    }
  }
}
// PBJ compose area
.kitchen {
  display: flex;
  align-items: center;
  height: 0px;
  width: 100%;
  padding: 0 15px;
  border-bottom: 1px solid $borderColor;
  background-color: $bodyBGColor;
  z-index: 2;
  transition: all ease .3s;
  position: sticky;
  top: 70px;
  
  &.active {
    height: 250px;
    
    .pbj-compose-btn {
      opacity: 0;
      visibility: hidden;
      height: 0px;
      width: 0px;
    }

    .pbj-form {
      visibility: visible;
      opacity: 1;
    }
  }

  .pbj-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 0;

    .close-btn {
      font-size: 16px;
      padding: 2px 10px;
      border-radius: 50px;
      background-color: $purple;
      border-color: $purple;
      &:hover, &:active {
        background-color: rgb(154, 91, 196);
        border-color: rgba(189, 111, 241, 0.5);
      }
      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(189, 111, 241, 0.5) !important;
      }
    }
   
    .submit-btn {
      font-size: 16px;
      padding: 2px 10px;
      border-radius: 50px;
      background-color: $purple;
      border-color: $purple;
      &:hover, &:active {
        background-color: rgb(154, 91, 196);
        border-color: rgba(189, 111, 241, 0.5);
      }
      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(189, 111, 241, 0.5) !important;
      }
    }
  }


  .pbj-form {
    width: 100%;
    visibility: hidden;
    opacity: 0;
    box-sizing: border-box;
    transition: all ease .2s;
    position: relative;
    text-align: center;

    .replying-title { 
      font-size: 12px;
      text-align: left;
      background-color: #DDCCAC;
      border-radius: 50px;
      padding: 2px 5px;
      width: fit-content;
    }

    .pbj {
      position: relative;
      border-radius: 10px;
      background-color: white;
      display: flex;
      flex-direction: column;
      
      .pbj-content {
        border: none;
        width: 100%;
        height: 120px;
        resize: none;
        border-radius: 10px;
        background-color: transparent;
        padding: 5px 10px;
        outline: none;
      }
  
      .attaching-image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        padding: 3px 10px;
        cursor: pointer;
        background-color: rgba(199, 170, 116, 0.6);
        border-radius: 50px;
        color: white;
        width: fit-content;
  
        &:hover { color: #C7AA74; }
      }
    }
  }
}

/* MEDIA QUERIES ================ */
$endmobile: "min-width: 700px";
$large: "min-width: 992px";
$xl: "min-width: 1200px";

$pageWidth:  720px;
$feedWidth: 650px;
$sidebarWidthDesktop: 70px;
// First breakpoint after mobile
@media ($endmobile) {
  body #root {
    width: $pageWidth;
    margin: 0 auto;
    flex-direction: row;
  }
  .nav {
    display: block;
    position: sticky;
    top: 0;
    width: $sidebarWidthDesktop;
    border: none;
    background-color: transparent;

    ul {
      flex-direction: column;
      height: 350px;
    }
  }
  .pbj-header { width: $feedWidth; }

  .feed-view {
    border-left: 1px solid $borderColor;
    border-right: 1px solid $borderColor;

    .desktop-kitchen {

      &.active {
        height: 150px;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .profile {
    border-left: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
  }
}

@media ($large) {
  .nav {
    width: 200px;
    padding: 0 10px;

    li {
      width: 100%;
      justify-content: flex-start;

      .sidebar__icon {
        text-decoration: none;
        width: auto;
        padding: 0 10px;

        .nav-link__header {
          display: block;
          font-size: 22px;
          @include nomargin;
          padding: 0 10px 0 15px;
        }
      }
    }
  }
}

@media (max-width: 300px) {
  .home__container { display: none; }

  .pbj-too-smol { display: block; }
}

@media screen and (max-width: 767px) {
  .form-control {
    width: 100%;
  }
}

/* LOADING CIRCLE =============== */
// Thanks to Scott Galloway (https://codepen.io/scottloway/pen/zqoLyQ?editors=0010)
$loader-size: 30px;
$check-height: $loader-size/2;
$check-width: $check-height/2;
$check-left: ($loader-size/6 + $loader-size/12);
$check-thickness: 2px;
// $check-color: #5cb85c;
$check-color: white;

.circle-loader {
  width: $loader-size;
  height: $loader-size;
  position: relative;
  // border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: $check-color;
  border-radius: 50%;
  animation: loader-spin 1.2s infinite linear;
  
  .checkmark {
    display: none;
    
    // Check shape
    &:after {
      opacity: 1;
      height: $check-height;
      width: $check-width;
      transform-origin: left top;
      border-right: $check-thickness solid $check-color;
      border-top: $check-thickness solid $check-color;
      content: '';
      left: $check-left;
      top: $check-height;
      position: absolute;
    }
    
    // Check animation
    &.draw:after {
      animation-duration: 800ms;
      animation-timing-function: ease;
      animation-name: checkmark;
      transform: scaleX(-1) rotate(135deg);
    }
  }

  &.load-complete {
    border-color: $check-color;
    transition: border 500ms ease-out;
    animation: none;  
    .checkmark { display: block; }
  }
}
/* FONTS ========================= */
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
/* Animations -------------------- */
@keyframes burning {
  0% {
    text-shadow:  0 3px 20px red, 0 0 20px red,
                  0 0 10px orange,
                  0 0 0 yellow,
                  0 0 5px yellow,
                  -2px -5px 5px yellow,
                  4px -10px 10px yellow; }
  25% {
    text-shadow:  0 3px 20px red, 0 0 30px red,
                  0 0 20px orange,
                  0 0 5px yellow,
                  -2px -5px 5px yellow,
                  3px -10px 10px yellow,
                  -4px -15px 20px yellow; }
  50% {
    text-shadow:  0 3px 20px red, 0 0 20px red,
                  0 -5px 10px orange,
                  -2px -5px 5px yellow,
                  3px -10px 10px yellow,
                  -4px -15px 20px yellow,
                  2px -20px 30px rgba(255,255,0,0.5); }
  75% {
    text-shadow:  0 3px 20px red, 0 0 20px red,
                  0 -5px 10px orange,
                  3px -5px 5px yellow,
                  -4px -10px 10px yellow,
                  2px -20px 30px rgba(255,255,0,0.5),
                  0px -25px 40px rgba(255,255,0,0)}
  100% {
    text-shadow:  0 3px 20px red, 0 0 20px red,
                  0 0 10px orange,
                  0 0 0 yellow,
                  0 0 5px yellow,
                  -2px -5px 5px yellow,
                  4px -10px 10px yellow; }
}
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: $check-width;
    opacity: 1;
  }
  40% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
  100% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
}
/* Animated Text ----------------- */
.burning-text {
  display: inline-block;
  padding: 0;
  margin: 0 15px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 6px;
  color: #fff;
  text-shadow:
    0 3px 20px red,
    0 0 20px red,
    0 0 10px orange,
    4px -5px 6px yellow,
    -4px -10px 10px yellow,
    0 -10px 30px yellow;
  animation: 2s burning infinite alternate linear;
}
/* ============================== */